#mainscreen{

    height: 600px;
    width: 600px;
    background-color: rgba(165, 179, 175, 0.993);
    margin: auto;
    

    
}
#Title{
    font-family: fantasy;
    font-size: 120px;
    text-align: center;
    
    
}
#MPH{

    margin-top: 30px;

}
#Volvo{
    margin-top: 30px;

}

#TotalScore{
    margin-top: 150px;
}

    
